<%- include('../partials/header') -%> <%- include('../partials/navbar') -%> <%-
include('../partials/pageHeader.ejs') -%>

<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <%if(success_msg != ''){%>
      <div class="alert alert-success" role="alert"><%= success_msg%></div>
      <%}%>
    <div
      class="
        row
        gx-4 gx-lg-5
        row-cols-2 row-cols-md-3 row-cols-xl-4
        justify-content-center
      "
    >
       <% events.forEach((event) => { %>
        
      <div class="col mb-5" style="width: 25rem;">
        
        <div class="card h-100">
          <!-- Product image-->
          <a href="/event/<%= event.id%>">
            <img class="card-img-top mb-1" src="data:image/<%=event.img.contentType%>;base64,
            <%=event.img.data.toString('base64')%>" alt="..." /> </a>
          <!-- Product details-->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder"><%=event.title%></h5>
              <span class="badge bg-secondary"
              ><%= event.date.toDateString()%></span
            >
            </br>
              <p class="card-text"><%= event.shortDescription%></p>
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              
            </div>
          </div>
        </div>
     
      </div>

      <%})%>
    </div>
  </div>
</section>

<%- include('../partials/footer') -%>
